*{
    margin: 0;
    padding: 0;
}

h1{
    margin:  40px 0 40px 0;
    color: rgb(255, 254, 255);
}

body{
    background-color: rgb(230, 20, 230);
}

.box, form{
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    padding: 0 15px 0 15px;
}

button{
    background-color: rgb(255, 255, 255);
    width: 150px;
    height: 25px;
    color: rgb(239, 14, 190);
    border-radius: 5px;

}